<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>ValidarUsuario</display-name>
    <servlet-name>ValidarUsuario</servlet-name>
    <servlet-class>com.cummins.servlet.ValidarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarUsuario</servlet-name>
    <url-pattern>/ValidarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfantcareServlet</display-name>
    <servlet-name>InfantcareServlet</servlet-name>
    <servlet-class>com.cummins.servlet.InfantcareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfantcareServlet</servlet-name>
    <url-pattern>/InfantcareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servelt</display-name>
    <servlet-name>Servelt</servlet-name>
    <servlet-class>resource.Servelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servelt</servlet-name>
    <url-pattern>/Servelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jsonservlet</servlet-name>
    <servlet-class>com.hmkcode.JSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsonservlet</servlet-name>
    <url-pattern>/jsonservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveCsv</servlet-name>
    <servlet-class>servlets.SaveCsv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMatriz</servlet-name>
    <servlet-class>servlets.GetMatriz</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMatrizTeenCare</servlet-name>
    <servlet-class>servlets.GetMatrizTeenCare</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfantToTeenCare</servlet-name>
    <servlet-class>servlets.InfantToTeenCare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCsv</servlet-name>
    <url-pattern>/SaveCsv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMatriz</servlet-name>
    <url-pattern>/GetMatriz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMatrizTeenCare</servlet-name>
    <url-pattern>/GetMatrizTeenCare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfantToTeenCare</servlet-name>
    <url-pattern>/InfantToTeenCare</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMatrizTeenCareHerramientas</servlet-name>
    <servlet-class>servlets.GetMatrizTeenCareHerramientas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportarHerramientas</servlet-name>
    <servlet-class>servlets.ImportarHerramientas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMatrizTeenCareHerramientas</servlet-name>
    <url-pattern>/GetMatrizTeenCareHerramientas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportarHerramientas</servlet-name>
    <url-pattern>/ImportarHerramientas</url-pattern>
  </servlet-mapping>
  <display-name>DES</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletPonderaciones</display-name>
    <servlet-name>ServletPonderaciones</servlet-name>
    <servlet-class>servlets.ServletPonderaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPonderaciones</servlet-name>
    <url-pattern>/ServletPonderaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapturaMotor</display-name>
    <servlet-name>CapturaMotor</servlet-name>
    <servlet-class>com.cummins.servlets.CapturaMotores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapturaMotor</servlet-name>
    <url-pattern>/CapturaMotor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetallesTeenCare</servlet-name>
    <servlet-class>servlets.DetallesTeenCare</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTeenCare</servlet-name>
    <servlet-class>servlets.UpdateTeenCare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetallesTeenCare</servlet-name>
    <url-pattern>/DetallesTeenCare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTeenCare</servlet-name>
    <url-pattern>/UpdateTeenCare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteParticipMotor</display-name>
    <servlet-name>DeleteParticipMotor</servlet-name>
    <servlet-class>servlets.DeleteParticipMotor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParticipMotor</servlet-name>
    <url-pattern>/DeleteParticipMotor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePonderacion</display-name>
    <servlet-name>DeletePonderacion</servlet-name>
    <servlet-class>servlets.DeletePonderacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePonderacion</servlet-name>
    <url-pattern>/DeletePonderacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetallesHerramientas</servlet-name>
    <servlet-class>servlets.DetallesHerramientas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetallesHerramientas</servlet-name>
    <url-pattern>/DetallesHerramientas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateHerramientas</servlet-name>
    <servlet-class>servlets.UpdateHerramientas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHerramientas</servlet-name>
    <url-pattern>/UpdateHerramientas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminarHerramientas</servlet-name>
    <servlet-class>servlets.EliminarHerramientas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarHerramientas</servlet-name>
    <url-pattern>/EliminarHerramientas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminarTeenCare</servlet-name>
    <servlet-class>servlets.EliminarTeenCare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarTeenCare</servlet-name>
    <url-pattern>/EliminarTeenCare</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CapturaMotoresOEM</servlet-name>
    <servlet-class>com.cummins.servlets.CapturaMotoresOEM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapturaMotoresOEM</servlet-name>
    <url-pattern>/CapturaMotoresOEM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetParticipMotores</display-name>
    <servlet-name>SetParticipMotores</servlet-name>
    <servlet-class>servlets.SetParticipMotores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetParticipMotores</servlet-name>
    <url-pattern>/SetParticipMotores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminarMotor</servlet-name>
    <servlet-class>servlets.EliminarMotor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarMotor</servlet-name>
    <url-pattern>/EliminarMotor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveMotor</servlet-name>
    <servlet-class>servlets.SaveMotor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveMotor</servlet-name>
    <url-pattern>/SaveMotor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerDR</servlet-name>
    <servlet-class>servlets.ObtenerDR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerDR</servlet-name>
    <url-pattern>/ObtenerDR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerMotores</servlet-name>
    <servlet-class>servlets.ObtenerMotores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMotores</servlet-name>
    <url-pattern>/ObtenerMotores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerRango</servlet-name>
    <servlet-class>servlets.ObtenerRango</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerRango</servlet-name>
    <url-pattern>/ObtenerRango</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMotor</servlet-name>
    <servlet-class>servlets.UpdateMotor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMotor</servlet-name>
    <url-pattern>/UpdateMotor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletEvaluaciones</servlet-name>
    <servlet-class>servlets.ServletEvaluaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEvaluaciones</servlet-name>
    <url-pattern>/ServletEvaluaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarEvaluaciones</servlet-name>
    <servlet-class>servlets.GuardarEvaluaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarEvaluaciones</servlet-name>
    <url-pattern>/GuardarEvaluaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEval</servlet-name>
    <servlet-class>servlets.UpdateEval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEval</servlet-name>
    <url-pattern>/UpdateEval</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgregarModulo</servlet-name>
    <servlet-class>servlets.AgregarModulo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarModulo</servlet-name>
    <url-pattern>/AgregarModulo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletModulos</servlet-name>
    <servlet-class>servlets.ServletModulos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModulos</servlet-name>
    <url-pattern>/ServletModulos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarModulos</servlet-name>
    <servlet-class>servlets.GuardarModulos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarModulos</servlet-name>
    <url-pattern>/GuardarModulos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgregarSubModulo</servlet-name>
    <servlet-class>servlets.AgregarSubModulo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarSubModulo</servlet-name>
    <url-pattern>/AgregarSubModulo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSubModulos</servlet-name>
    <servlet-class>servlets.ServletSubModulos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSubModulos</servlet-name>
    <url-pattern>/ServletSubModulos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarSubModulos</display-name>
    <servlet-name>GuardarSubModulos</servlet-name>
    <servlet-class>servlets.GuardarSubModulos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarSubModulos</servlet-name>
    <url-pattern>/GuardarSubModulos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerOem</servlet-name>
    <servlet-class>servlets.ObtenerOem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerOem</servlet-name>
    <url-pattern>/ObtenerOem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerPara</servlet-name>
    <servlet-class>servlets.ObtenerPara</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPara</servlet-name>
    <url-pattern>/ObtenerPara</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerRangoInfant</servlet-name>
    <servlet-class>servlets.ObtenerRangoInfant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerRangoInfant</servlet-name>
    <url-pattern>/ObtenerRangoInfant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerMercados</servlet-name>
    <servlet-class>servlets.ObtenerMercados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMercados</servlet-name>
    <url-pattern>/ObtenerMercados</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminarMotores</servlet-name>
    <servlet-class>com.cummins.servlets.EliminarMotores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarMotores</servlet-name>
    <url-pattern>/EliminarMotores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarMotores</servlet-name>
    <servlet-class>com.cummins.servlets.GuardarMotores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarMotores</servlet-name>
    <url-pattern>/GuardarMotores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminarMotoresOEM</servlet-name>
    <servlet-class>com.cummins.servlets.EliminarMotoresOEM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarMotoresOEM</servlet-name>
    <url-pattern>/EliminarMotoresOEM</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarMotoresOEM</servlet-name>
    <servlet-class>com.cummins.servlets.GuardarMotoresOEM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarMotoresOEM</servlet-name>
    <url-pattern>/GuardarMotoresOEM</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerMotoresObl</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerMotoresObl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMotoresObl</servlet-name>
    <url-pattern>/ObtenerMotoresObl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerMotoresOpc</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerMotoresOpc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMotoresOpc</servlet-name>
    <url-pattern>/ObtenerMotoresOpc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarMotoresOEMOpc</servlet-name>
    <servlet-class>com.cummins.servlets.GuardarMotoresOEMOpc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarMotoresOEMOpc</servlet-name>
    <url-pattern>/GuardarMotoresOEMOpc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarMotoresOEMObl</servlet-name>
    <servlet-class>com.cummins.servlets.GuardarMotoresOEMObl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarMotoresOEMObl</servlet-name>
    <url-pattern>/GuardarMotoresOEMObl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerDealer</display-name>
    <servlet-name>ObtenerDealer</servlet-name>
    <servlet-class>servlets.ObtenerDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerDealer</servlet-name>
    <url-pattern>/ObtenerDealer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMatrizInfantTeen</servlet-name>
    <servlet-class>servlets.GetMatrizInfantTeen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMatrizInfantTeen</servlet-name>
    <url-pattern>/GetMatrizInfantTeen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCursos</servlet-name>
    <servlet-class>servlets.GetCursos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCursos</servlet-name>
    <url-pattern>/GetCursos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveConfMotor</servlet-name>
    <servlet-class>servlets.SaveConfMotor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveConfMotor</servlet-name>
    <url-pattern>/SaveConfMotor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConfigMotores</display-name>
    <servlet-name>GetConfigMotores</servlet-name>
    <servlet-class>servlets.GetConfigMotores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConfigMotores</servlet-name>
    <url-pattern>/GetConfigMotores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveEditConfMotor</display-name>
    <servlet-name>SaveEditConfMotor</servlet-name>
    <servlet-class>servlets.SaveEditConfMotor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveEditConfMotor</servlet-name>
    <url-pattern>/SaveEditConfMotor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetListaPartesInd</display-name>
    <servlet-name>GetListaPartesInd</servlet-name>
    <servlet-class>servlets.GetListaPartesInd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetListaPartesInd</servlet-name>
    <url-pattern>/GetListaPartesInd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPartesIndMatriz</display-name>
    <servlet-name>GetPartesIndMatriz</servlet-name>
    <servlet-class>servlets.GetPartesIndMatriz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPartesIndMatriz</servlet-name>
    <url-pattern>/GetPartesIndMatriz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPartesIndBdy</display-name>
    <servlet-name>GetPartesIndBdy</servlet-name>
    <servlet-class>servlets.GetPartesIndBdy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPartesIndBdy</servlet-name>
    <url-pattern>/GetPartesIndBdy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarPartesIndBdy</display-name>
    <servlet-name>GuardarPartesIndBdy</servlet-name>
    <servlet-class>servlets.GuardarPartesIndBdy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarPartesIndBdy</servlet-name>
    <url-pattern>/GuardarPartesIndBdy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarConfMot</display-name>
    <servlet-name>EliminarConfMot</servlet-name>
    <servlet-class>servlets.EliminarConfMot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarConfMot</servlet-name>
    <url-pattern>/EliminarConfMot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PartesEvaluadas</servlet-name>
    <servlet-class>com.cummins.servlets.PartesEvaluadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartesEvaluadas</servlet-name>
    <url-pattern>/PartesEvaluadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PerfilDealer</servlet-name>
    <servlet-class>com.cummins.servlets.PerfilDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilDealer</servlet-name>
    <url-pattern>/PerfilDealer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerNivelServicio</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerNivelServicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerNivelServicio</servlet-name>
    <url-pattern>/ObtenerNivelServicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatrizAgrupada</servlet-name>
    <servlet-class>com.cummins.servlets.MatrizAgrupada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatrizAgrupada</servlet-name>
    <url-pattern>/MatrizAgrupada</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarMatrizAgrupada</servlet-name>
    <servlet-class>com.cummins.servlets.GuardarMatrizAgrup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarMatrizAgrupada</servlet-name>
    <url-pattern>/GuardarMatrizAgrupada</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarPerfil</servlet-name>
    <servlet-class>com.cummins.servlets.GuardarPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarPerfil</servlet-name>
    <url-pattern>/GuardarPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarMotoresPerfil</servlet-name>
    <servlet-class>com.cummins.servlets.GuardarMotoresPerfilObl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarMotoresPerfil</servlet-name>
    <url-pattern>/GuardarMotoresPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardarMotoresPerfilOpc</servlet-name>
    <servlet-class>com.cummins.servlets.GuardarMotoresPerfilOpc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarMotoresPerfilOpc</servlet-name>
    <url-pattern>/GuardarMotoresPerfilOpc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HerramientasSoftware</servlet-name>
    <servlet-class>com.cummins.servlets.HerramientasSoftware</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HerramientasSoftware</servlet-name>
    <url-pattern>/HerramientasSoftware</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerPorcObtenido</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerPorcObtenido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPorcObtenido</servlet-name>
    <url-pattern>/ObtenerPorcObtenido</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HerramientasElectronica</servlet-name>
    <servlet-class>com.cummins.servlets.HerramientasElectronica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HerramientasElectronica</servlet-name>
    <url-pattern>/HerramientasElectronica</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HerramientasInsite</servlet-name>
    <servlet-class>com.cummins.servlets.HerramientasInsite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HerramientasInsite</servlet-name>
    <url-pattern>/HerramientasInsite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerMotoresQtyMec</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerMotoresQtyMec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMotoresQtyMec</servlet-name>
    <url-pattern>/ObtenerMotoresQtyMec</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerMecanicoCapacita</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerMecanicoCapacita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMecanicoCapacita</servlet-name>
    <url-pattern>/ObtenerMecanicoCapacita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerListaMatrizDealer</display-name>
    <servlet-name>ObtenerListaMatrizDealer</servlet-name>
    <servlet-class>servlets.ObtenerListaMatrizDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerListaMatrizDealer</servlet-name>
    <url-pattern>/ObtenerListaMatrizDealer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarPartes</display-name>
    <servlet-name>GuardarPartes</servlet-name>
    <servlet-class>servlets.GuardarPartes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarPartes</servlet-name>
    <url-pattern>/GuardarPartes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerMotoresCapacitaMec</display-name>
    <servlet-name>ObtenerMotoresCapacitaMec</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerMotoresCapacitaMec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMotoresCapacitaMec</servlet-name>
    <url-pattern>/ObtenerMotoresCapacitaMec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HerramientasEvaluar</display-name>
    <servlet-name>HerramientasEvaluar</servlet-name>
    <servlet-class>com.cummins.servlets.HerramientasEvaluar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HerramientasEvaluar</servlet-name>
    <url-pattern>/HerramientasEvaluar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarQuejasCaptura</display-name>
    <servlet-name>EliminarQuejasCaptura</servlet-name>
    <servlet-class>com.cummins.servlets.EliminarQuejasCaptura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarQuejasCaptura</servlet-name>
    <url-pattern>/EliminarQuejasCaptura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarQuejasCatalogo</display-name>
    <servlet-name>EliminarQuejasCatalogo</servlet-name>
    <servlet-class>com.cummins.servlets.EliminarQuejasCatalogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarQuejasCatalogo</servlet-name>
    <url-pattern>/EliminarQuejasCatalogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarQuejaCatalogo</display-name>
    <servlet-name>GuardarQuejaCatalogo</servlet-name>
    <servlet-class>com.cummins.servlets.GuardarQuejaCatalogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarQuejaCatalogo</servlet-name>
    <url-pattern>/GuardarQuejaCatalogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerQuejasCaptura</display-name>
    <servlet-name>ObtenerQuejasCaptura</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerQuejasCaptura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerQuejasCaptura</servlet-name>
    <url-pattern>/ObtenerQuejasCaptura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerQuejasCatalogo</display-name>
    <servlet-name>ObtenerQuejasCatalogo</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerQuejasCatalogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerQuejasCatalogo</servlet-name>
    <url-pattern>/ObtenerQuejasCatalogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarPartesEvaluadas</display-name>
    <servlet-name>EliminarPartesEvaluadas</servlet-name>
    <servlet-class>com.cummins.servlets.EliminarPartesEvaluadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarPartesEvaluadas</servlet-name>
    <url-pattern>/EliminarPartesEvaluadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapaAdminGarantias</display-name>
    <servlet-name>CapaAdminGarantias</servlet-name>
    <servlet-class>com.cummins.servlets.CapaAdminGarantias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapaAdminGarantias</servlet-name>
    <url-pattern>/CapaAdminGarantias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapaAdminGarantiasPorc</display-name>
    <servlet-name>CapaAdminGarantiasPorc</servlet-name>
    <servlet-class>com.cummins.servlets.CapaAdminGarantiasPorc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapaAdminGarantiasPorc</servlet-name>
    <url-pattern>/CapaAdminGarantiasPorc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarMotor</display-name>
    <servlet-name>MostrarMotor</servlet-name>
    <servlet-class>com.cummins.servlets.MostrarMotor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarMotor</servlet-name>
    <url-pattern>/MostrarMotor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerCalJefeTaller</display-name>
    <servlet-name>ObtenerCalJefeTaller</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerCalJefeTaller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerCalJefeTaller</servlet-name>
    <url-pattern>/ObtenerCalJefeTaller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerFamGerServicio</display-name>
    <servlet-name>ObtenerFamGerServicio</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerFamGerServicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerFamGerServicio</servlet-name>
    <url-pattern>/ObtenerFamGerServicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerNoCal</display-name>
    <servlet-name>ObtenerNoCal</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerNoCal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerNoCal</servlet-name>
    <url-pattern>/ObtenerNoCal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerNoFam</display-name>
    <servlet-name>ObtenerNoFam</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerNoFam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerNoFam</servlet-name>
    <url-pattern>/ObtenerNoFam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatrizHerramientas</display-name>
    <servlet-name>MatrizHerramientas</servlet-name>
    <servlet-class>com.cummins.servlets.MatrizHerramientas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatrizHerramientas</servlet-name>
    <url-pattern>/MatrizHerramientas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerDatosEvalua</display-name>
    <servlet-name>ObtenerDatosEvalua</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerDatosEvalua</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerDatosEvalua</servlet-name>
    <url-pattern>/ObtenerDatosEvalua</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerEficiencia</display-name>
    <servlet-name>ObtenerEficiencia</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerEficiencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerEficiencia</servlet-name>
    <url-pattern>/ObtenerEficiencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerGarantias</display-name>
    <servlet-name>ObtenerGarantias</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerGarantias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerGarantias</servlet-name>
    <url-pattern>/ObtenerGarantias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerNoDispo</display-name>
    <servlet-name>ObtenerNoDispo</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerNoDispo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerNoDispo</servlet-name>
    <url-pattern>/ObtenerNoDispo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerPCID</display-name>
    <servlet-name>ObtenerPCID</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerPCID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPCID</servlet-name>
    <url-pattern>/ObtenerPCID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerPosible</display-name>
    <servlet-name>ObtenerPosible</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerPosible</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPosible</servlet-name>
    <url-pattern>/ObtenerPosible</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerReclamos</display-name>
    <servlet-name>ObtenerReclamos</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerReclamos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerReclamos</servlet-name>
    <url-pattern>/ObtenerReclamos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerRescates</display-name>
    <servlet-name>ObtenerRescates</servlet-name>
    <servlet-class>com.cummins.servlets.ObtenerRescates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerRescates</servlet-name>
    <url-pattern>/ObtenerRescates</url-pattern>
  </servlet-mapping>
</web-app>